@import '../../fonts';

.articleRelated {
    display: block;
    width: max-content;
    max-width: 600px;
    max-height: 180px;
    padding: 10px;
    margin-bottom: 20px;
    transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    cursor: pointer;
    @media(min-width: 2300px) {
        max-width: 730px;
        width: max-content;
    }
    @media(max-width: 1850px) {
        max-width: 650px;
        width: max-content;
    }
    @media(max-width: 1600px) {
        max-width: 430px;
    }
    @media(max-width: 1550px) {
        max-width: 500px;
        max-height: 220px;
    }
    @media(max-width: 1250px) {
        max-width: 330px;
        max-height: 180px;
    }
    @media(max-width: 1000px) {
        max-width: unset;
        width: 100%;
    }
    &:hover {
        transform: scale(1.015);
    }
    img {
        display: none; 
    }
    .img {
        display: none;
    }
    h4,p,time,a {
        font-family: $font-family;
        letter-spacing: 0.1rem;
        text-decoration: none;
        color: $color-text;
    }
    a {
        &:hover {
            text-decoration: underline;
        }
    }
    .descr {
        overflow: hidden;
        a {
            font-size: 1.1rem;
            font-weight: 700;
            color: #213343;
        }
        p {
            margin-top: 10px;
            font-size: 0.7rem;
            font-weight: 400;
            line-height: 0.8rem;
        }
    }
    .dateAuthorNameLink {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 0;
        border-left: 0;
        max-width: unset;
        border-bottom: 1px solid #DBE4ED;
        align-items: center;
        width: 100%;
        h4 {
            font-size: 0.75rem;
        }
        time {
            font-size: 0.95rem;
            text-align: center;
        }
        .authorNameLink {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 7px;
        }
        a {
            font-size: 1rem;
            font-weight: 600;
        }
    }
    &:hover {
        .dateAuthorNameLink {
            border-bottom: 1px solid #FF5C35;
        }
    }
}