@import '../../fonts';

.has-not-found {
    font-family: $font-family;
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 1.1px;
}

.post-transition-enter {
    transform: translateX(-300px);
}
.post-transition-enter-active {
    transform: translateX(0px);
    transition: all 400ms ease-in-out;
}
.post-transition-exit {
    opacity: 1;
}
.post-transition-exit-active {
    margin-top: 30px;
    transform: translateX(-300px);
    transition: all 500ms ease-in-out;
}