@import '../../fonts';

.selectedArticle {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    > h2 {
        width: 100%;
        margin-bottom: 20px;
    }
    .commentsSection {
        padding: 40px 0 0 7%;
        border-top: 2px solid $color-text;
       
    }
}

.imgOfMainArticlePlusRelatedArticles {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 1200px;
    margin-bottom: 60px;
    padding-bottom: 60px;
    border-bottom: 2px solid $color-text;
    @media(max-width: 1850px) {
        border-bottom: none;
        margin-bottom: 0;
    }
    h2 {
        padding-bottom: 15px;
        border-bottom: 2px solid #FF5C35;
        margin-bottom: 20px;
    }
    .containerPopularArticlesMainPhoto {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        @media(max-width: 1850px) {
            flex-direction: column;
            gap: 15px;
        }
        > .img {
            flex-grow: 2;
            max-width: 1500px;
            max-height: 940px;
            object-fit: cover;
            @media(min-width: 2501px) {
                min-width: 1600px;
            }
            @media(max-width: 2500px) {
                max-width: 1495px;
            }
            @media(max-width: 2300px) {
                max-width: 1275px;
            }
            @media(max-width: 2100px) {
                max-width: 1145px;
            }
            @media(max-width: 1950px) {
                max-width: 1045px;
            }
            @media(max-width: 1850px) {
                max-height: 700px;
                max-width: none;
                padding-bottom: 50px;
                border-bottom: 2px solid $color-text;
            }
        }
    }

}

.relatedArticleContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: max-content;
    .title {
        margin-bottom: 0;
    }
}

.authorBlock {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100px;
    margin-bottom: 35px;
    padding: 20px 0;
    border-top: 2px solid $color-text;
    border-bottom: 2px solid $color-text;
    img {
        display: block;
        max-width: 60px;
        width: 100%;
        height: 100%;
        max-height: 60px;
        border-radius: 50%;
        object-fit: cover;
    }
    h3, a, time, div, p {
        text-decoration: none;
        font-family: $font-family;
        color: $color-text;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 0.15rem;
    }
    a {
        &:hover {
            text-decoration: underline;
        }
    }
    > p {
        display: flex;
        gap: 10px;
        align-items: center;
        .svg {
            display: block;
            width: 20px;
            height: 20px;
            fill: rgba(83, 83, 83, 0.76);
        }
    }
    div {
        margin-left: auto;
        width: max-content;
        div {
            display: flex;
            gap: 10px;
            button {
                cursor: pointer;
                height: max-content;
                width: max-content;
                background: #6366fc;
                color: $color-text;
                font-family: $font-family;
                font-size: 0.95rem;
                font-weight: 700;
                letter-spacing: 1px;
                transition: all .3s ;
                border: unset;
                &:hover {
                    transform: scale(1.03);
                }
            }
        }
    }
    .wrapperSortBtn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        padding-left: 15px;
        button {
            cursor: pointer;
            height: max-content;
            width: max-content;
            background: #6366fc;
            color: white;
            font-family: $font-family;
            font-size: 0.95rem;
            font-weight: 700;
            letter-spacing: 1px;
            transition: all .3s ;
            border: unset;
            &:hover {
                transform: scale(1.03);
            }
        }
    }
}





