@import '../../fonts';

.selectedArticle {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    > h2 {
        width: 100%;
        margin-bottom: 20px;
    }
    .commentsSection {
        padding: 40px 0 0 7%;
        border-top: 2px solid $color-text;
        .writeCommentField {
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;
            height: max-content;
            padding-bottom: 10px;
            textarea {
                font-family: $font-family;
                font-size: 1rem;
                letter-spacing: 1px;
                resize: none;
                width: 100%;
                max-width: 400px;
                min-height: 25px;
                border: 0;
                background: none;
                height: max-content;
                outline: none;
                border-bottom: 1px solid $color-text;
            }
            button {
                font-family: $font-family;
                font-size: 1rem;
                color: white;
                width: 75px;
                height: 25px;
                border: 0;
                background: #ff3713c9;
                cursor: pointer;
                transition: .3s;
                &:hover {
                    background: #FF3713;
                }
                
            }
            button:disabled {
                cursor: auto;
            }
        }
        .commentsBlock {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            > div {
                padding: 10px;
                position: relative;
                display: flex;
                width: max-content;
                max-width: 500px;
                min-width: 230px;
                height: max-content;
                background: wite;
                border-radius: 4px;
                box-shadow: 2px 2px 7px 7px rgba(202, 202, 202, 0.137);
                h4, p, time {
                    font-family: $font-family;
                }
                h4 {
                    position: absolute;
                    font-weight: 500;
                    font-size: 1.1rem;
                    top: 10px;
                    color: black;
                    left: 73px;
                }
                p {
                    display: block;
                    font-size: 1rem;
                    padding: 25px 20px 5px;
                    width: 100%;
                    color: $color-text;
                }
                time {
                    font-weight: 500;
                    color: grey;
                    font-size: 0.75rem;
                    top: 10px;
                    position: absolute;
                    right: 10px;
                }
                div {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: flex-start;
                    img {
                        object-fit: cover;
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

.imgOfMainArticlePlusRelatedArticles {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 1200px;
    margin-bottom: 60px;
    .containerSliderMainPhoto {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        @media(max-width: 1850px) {
            flex-direction: column;
            gap: 15px;
        }
        > .img {
            flex-grow: 2;
            max-width: 1500px;
            max-height: 940px;
            object-fit: cover;
            @media(min-width: 2501px) {
                min-width: 1600px;
            }
            @media(max-width: 2500px) {
                max-width: 1495px;
            }
            @media(max-width: 2300px) {
                max-width: 1275px;
            }
            @media(max-width: 2100px) {
                max-width: 1145px;
            }
            @media(max-width: 1950px) {
                max-width: 1045px;
            }
            @media(max-width: 1850px) {
                max-height: 700px;
                max-width: none;
                padding-bottom: 50px;
                border-bottom: 2px solid $color-text;
            }
        }
    }

}

.relatedArticleContainer {
    display: flex;
    flex-direction: column;
    height: max-content;
    .title {
        margin-bottom: 0;
    }
}

.authorBlock {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100px;
    margin-bottom: 35px;
    padding: 20px 0;
    border-top: 2px solid $color-text;
    border-bottom: 2px solid $color-text;
    img {
        display: block;
        max-width: 60px;
        width: 100%;
        height: 100%;
        max-height: 60px;
        border-radius: 50%;
        object-fit: cover;
    }
    h3, h4, time, div, p {
        font-family: $font-family;
        color: $color-text;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 0.15rem;
    }
    > p {
        display: flex;
        gap: 10px;
        align-items: center;
        .svg {
            display: block;
            width: 20px;
            height: 20px;
            fill: rgba(83, 83, 83, 0.76);
        }
    }
    div {
        margin-left: auto;
        width: max-content;
        div {
            display: flex;
            gap: 10px;
            button {
                cursor: pointer;
                height: max-content;
                width: max-content;
                background: #6366fc;
                color: $color-text;
                font-family: $font-family;
                font-size: 0.95rem;
                font-weight: 700;
                letter-spacing: 1px;
                transition: all .3s ;
                border: unset;
                &:hover {
                    transform: scale(1.03);
                }
            }
        }
    }
    .wrapperSortBtn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        padding-left: 15px;
        button {
            cursor: pointer;
            height: max-content;
            width: max-content;
            background: #6366fc;
            color: white;
            font-family: $font-family;
            font-size: 0.95rem;
            font-weight: 700;
            letter-spacing: 1px;
            transition: all .3s ;
            border: unset;
            &:hover {
                transform: scale(1.03);
            }
        }
    }
}





