@import '../../fonts';

.containerArticlesPage {

    > h2 {
        margin-left: 60px;
        cursor: pointer;
    }
    .containerArticlesTagsSection {
        display: flex;
        justify-content: center;
        gap: 40px;
        background: #F6F9FC;
        margin-top: 30px;
        padding: 40px 60px;
        border-top: 2px solid #FF5C35;
        @media(min-width: 2310px) {
            justify-content: space-between;
        }
        @media(max-width: 900px) {
            flex-direction: column-reverse;
        }
        article {
            display: flex;
            flex-direction: column;
            gap: 65px;
            @media(min-width: 2100px) {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }
    .wrapperSortBtn {
        background: #FCEAD7;
        width: 500px;
        min-width: 220px;
        height: 100%;
        max-height: 600px;
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        border: 1px solid #FF5C35;
        @media(min-width: 2310px) {
            max-width: 900px;
            width: unset;
            min-width: 600px;
        }
        @media(max-width: 900px) {
            width: unset;
            min-width: unset;
        }
        .title {
            margin: 30px 0 0 30px;
            height: fit-content;
        }
        button {
            cursor: pointer;
            height: max-content;
            width: max-content;
            background: #6366fc;
            color: white;
            font-family: $font-family;
            font-size: 0.95rem;
            font-weight: 700;
            letter-spacing: 1px;
            transition: all .3s ;
            border: unset;
            &:hover {
                transform: scale(1.03);
            }
        }
    }
}
