@import '../../fonts';

.containerArticlesPage {
    position: relative;
    
    .underHeader {
        display: flex;
        justify-content: space-between;
        padding: 0 60px;
        h2 {
            width: unset;
            cursor: pointer;
        }
        @media(max-width: 600px) {
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding: 0 20px;
            input {
                width: 100%;
            }
        }
    }
    .containerArticlesTagsSection {
        display: flex;
        justify-content: center;
        gap: 40px;
        background: #F6F9FC;
        margin-top: 30px;
        padding: 40px 60px;
        border-top: 2px solid #FF5C35;
        @media(min-width: 2310px) {
            justify-content: space-between;
        }
        @media(max-width: 900px) {
            flex-direction: column-reverse;
        }
        @media(max-width: 700px) {
            padding: 40px 50px;
        }
        @media(max-width: 500px) {
            padding: 40px 5px;
        }
        article {
            display: flex;
            flex-direction: column;
            gap: 60px;
            @media(min-width: 2100px) {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 40px;
            }
        }
    }
    .wrapperSortBtn {
        background: #FCEAD7;
        width: 500px;
        min-width: 220px;
        height: 100%;
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        border: 1px solid #FF5C35;
        @media(min-width: 2770px) {
            max-width: 400px;
            width: 100%;
            min-width: 300px;
        }
        @media(max-width: 2770px) {
            max-width: 900px;
            width: 100%;
        }
        @media(max-width: 2255px) {
            max-width: 900px;
            width: 480px;
            min-width: 480px;
        }
        @media(max-width: 1200px) {
            width: unset;
            min-width: unset;
        }
        .title {
            width: 100%;
            margin: 30px 0 0 30px;
            height: fit-content;
        }
        button {
            cursor: pointer;
            height: max-content;
            width: max-content;
            background: #6366fc;
            color: white;
            font-family: $font-family;
            font-size: 0.95rem;
            font-weight: 700;
            letter-spacing: 1px;
            transition: all .3s ;
            border: unset;
            &:hover {
                transform: scale(1.03);
            }
        }
    }
}
