@import '../../fonts';

.containerUserInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 0 40px;
    .userInfoPhoto {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        .userPhoto {
            img {
                width: 200px;
                height: 250px;
                object-fit: cover;
            }
        }
        .userInfo {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h2, p, div {
                font-family: $font-family;
                font-size: 1.6rem;
                font-weight: 800;
                color: $color-text;
            }
            div {
                display: flex;
                align-items: center;
                font-size: 1.2rem;
                font-weight: 600;
                gap: 20px;
                p {
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
        }
    }
    .myArticlesBlock {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        .options {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 60px;
            width: 100%;
            border-top: 1px solid #FF5C35;
            border-bottom: 1px solid #FF5C35;
            button {
                height: 40px;
                max-width: 120px;
                width: 100%;
                min-width: 60px;
                border: 0;
                cursor: pointer;
                background: #FF7F60;
                transition: .2s;
                &:hover {
                    background: #FF8F73;
                }
                a {
                    text-decoration: none;
                    color: white;
                    font-family: $font-family;
                    font-size: 0.95rem;
                    font-weight: 600;
                }
            }
        }
        .containerArticlesTags {
            display: flex;
            justify-content: space-between;
            gap: 15px;
            width: 100%;
            @media(min-width: 1250px) {
                width: unset;
                justify-content: center;
                gap: 150px;
            }
            @media(max-width: 900px) {
                gap: 40px;
                flex-direction: column-reverse;
                .myArticles {
                    .myPost {
                        width: 100%;
                    }
                }
            }
            .myArticles {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                gap: 40px;
                flex-wrap: wrap;
                .myPost {
                    position: relative;
                    height: 120px;
                    width: 600px;
                    transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                    border-bottom: 1px solid #DBE4ED;
                    background: white;
                    > button {
                        position: absolute;
                        padding: 0;
                        top: 0;
                        right: 0;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        background: none;
                        border: 0;
                        &:hover {
                            svg {
                                fill: rgb(190, 27, 27);
                            }
                        }
                        svg {
                            fill: #535353c2;
                            width: 100%;
                            height: 100%; 
                        }
                        &:nth-child(1) {
                            right: 30px;
                            &:hover {
                                svg {
                                    fill: $color-text;
                                }
                            }
                            
                        }
                    }
                    
                    &:hover {
                        border-bottom: 1px solid #FF5C35;
                        transform: scale(1.015);
                    }
                    .description {
                        a, p {
                            font-family: $font-family;
                            font-size: 1.2rem;
                            font-weight: 400;
                            color: $color-text;
                        }
                        a {
                            display: block;
                            text-decoration: none;
                            font-size: 1.4rem;
                            font-weight: 600;
                            margin-bottom: 10px;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        p {
                            margin-bottom: 10px;
                        }
                    }
                    .dateAndViews {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        time, p {
                            font-family: $font-family;
                            font-size: 1rem;
                            font-weight: 600;
                            color: $color-text;
                        }
                        p {
                            display: flex;
                            align-items: center;
                            flex-direction: row-reverse;
                            gap: 5px;
                            color: #535353c2;
                            svg {
                                fill: #535353c2;
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                }
            }
            .wrapperSortBtn {
                background: #FCEAD7;
                width: 350px;
                min-width: 220px;
                height: 100%;
                max-height: 600px;
                padding: 30px;
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                border: 1px solid #FF5C35;
                @media(min-width: 2310px) {
                    max-width: 900px;
                    width: unset;
                    min-width: 600px;
                }
                @media(max-width: 900px) {
                    width: 100%;
                    min-width: unset;
                }
                .title {
                    margin: 30px 0 0 30px;
                    height: fit-content;
                }
                button {
                    cursor: pointer;
                    height: max-content;
                    width: max-content;
                    background: #6366fc;
                    color: white;
                    font-family: $font-family;
                    font-size: 0.95rem;
                    font-weight: 700;
                    letter-spacing: 1px;
                    transition: all .3s ;
                    border: unset;
                    &:hover {
                        transform: scale(1.03);
                    }
                }
            }
        }
    }
}