@import '../../fonts';

.confirmWindow  {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 30px;
    background-color: rgb(190, 27, 27);
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: all .4s  cubic-bezier(0.075, 0.82, 0.165, 1);
    .confirm, .decline {
        height: 30px;
        width: 60px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 0;
        color: white!important;
        font-family: $font-family;
        font-size: 1.1rem;
        transition: .2s;
        cursor: pointer;
        &:hover {
            background-color: #6366fc;
        }
    }
}
.confirmWindow.active {
    top: -33px;
    opacity: 1;
    pointer-events: all;
}