@import '../../fonts';
body {
    overflow-x: hidden;
    background: white;
}
header {
    display: flex;
    justify-content: flex-start;
    height: fit-content;
}
.container-for-all {
    .main-footer-container {
        display: flex;
        flex-direction: column;
        padding: 140px 0 40px 0;
        @media(max-width: 1250px) {
            padding: 160px 30px 40px 30px;
        }
        @media(max-width: 600px) {
            padding: 160px 15px 40px 15px;
        }
    }
}
.container-for-mobile-menu {
    .mobile-menu {
        display: none;
    }
}
@media(max-width: 1024px) {
    .container-for-all {
        .main-footer-container {
            margin-top: 100px;
            margin-left: 0;
            padding: 60px 20px;
        }
    }
    .hb-menu.active {
        &::after,
        &:before,
        span {
            background: #F4AD24;
        }
        
        &::after {
            top: 13px;
            transform: rotate(135deg);
        }
        &:before {
            bottom: 13px;
            transform: rotate(45deg);
        }
        span {
            transform: scale(0);
        }
    }
    .container-menu-mobile {
        position: fixed;
        width: 100%;
        z-index: 20;
        background-color: #232A34;
    }
    .hb-menu {
        z-index: 25;
        top: 35px;
        right: 50px;
        width: 40px;
        height: 31px;
        position: absolute;
        cursor: pointer;
        &::after,
        &:before,
        span {
            content: "";
            position: absolute;
            width: 100%;
            height: 5px;
            background: black;
            transition: all .3s cubic-bezier(.42, .01, .58, 1);
            border-radius: 5px;
        }
        &::after {
            top: 0;
        }
        span {
            top: 13px;
        }
        &:before {
            bottom: 0;
        }
    }
    .container-for-mobile-menu {
        .mobile-menu {
            display: flex;
            .container-mobile-menu {
                .mobile-menu {
                    li {
                        a {
                            display: block;
                            text-decoration: none;
                            font-size: 24px;
                            font-weight: 900;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                        }
                    }
                }
            }
        }
    }  
}