@import '../../fonts';
body {
    overflow-x: hidden;
    background: white;
}
header {
    display: flex;
    justify-content: flex-start;
    height: fit-content;
}
.container-for-all {
    .main-footer-container {
        display: flex;
        flex-direction: column;
        padding: 75px 0;
        @media(max-width: 1024px) {
            margin-left: 0;
            padding: 75px 20px;
        }
        @media(max-width: 1024px) {
            margin-left: 0;
            padding: 75px 0px;
        }

    }
}
.container-for-mobile-menu {
    .mobile-menu {
        display: none;
    }
}

.light {
    .container-for-all {
        background-color: white;
        .main-footer-container {
            .container-popular-main {
                background: #F6F9FC;
            }
        }
    }
}
.dark {
    body {
        background: #27292B;
    }
    header {
        .container-for-menu {
            background: #1E2021;
            .above-menu {
                a, p, h1, h2, h3, h4, h5, time, button {
                    color: #939fad!important;
                }
                svg {
                    fill: #939fad!important;
                }
                .account-details {
                    ul {
                        background-color: #1E2021;
                    }
                }
            }
            
        }
        
    }
    .container-for-all {
        a, p, h1, h3, h4, h5, time {
            color: #939fad!important;
        }
        h2 {
            color: #F6F9FC;
        }
        background: #27292B;
        .main-footer-container {
            #onChecking {
                span {
                    &::after {
                        background: #F2B35B;
                    }
                }
            }
            .home {
                svg {
                    fill: #F2B35B;
                }
            }
            #pageUp {
                svg {
                    fill: #F2B35B;
                }
            }
            #oneArticle {
                svg {
                    fill: #F2B35B;
                }
                div {
                    border-color: #131414;
                    &:nth-child(3) {
                        img {
                            border-color: #131414;
                        }
                    }
                    div {
                        border: none;
                        button {
                            background: #F2B35B;
                            color: white;
                        }  
                    }
                }
                #articleComments {
                    div {
                        background: none;
                        textarea {
                            border-color: #131414;
                            color: #F2B35B;
                        }
                        > button {
                            &:hover {
                                background: #F2B35B;
                                color: #131414;
                            }
                        }
                        button:disabled {
                            background-color: #f2b35ba1!important;
                        }
                        &:last-child {
                            button {
                                background: none;
                            }
                        }
                    }
                }
            }
            #blogsContainer {
                > div {
                    background: rgba(89, 94, 99, 0.377);
                    box-shadow: 1px 1px 6px 5px #1e2021b6;
                    border: 1px solid #131414;
                    svg {
                        fill: #F2B35B;
                    }
                }
            }
            #createArticle {
                background: white;
            }
            #myBlogContainer {
                svg {
                    fill: #F2B35B!important;
                }
                > div {
                    &:nth-child(1) {
                        div {
                            &:last-child {
                                div, h2 {
                                    color: #F6F9FC;
                                }
                            }
                        }
                    }
                    &:nth-child(2) {
                        border-top: 1px solid #131414;
                        > div {
                            border-top: none;
                            border-color: #131414;
                        }
                        button {
                            background: #1E2021;
                        }
                    }
                }
                #btnBlock {
                    button {
                        background: none;
                    }
                }
            }
            #tagsMyBlog {
                background: #F2B35B;
                border: none;
                h2 {
                color: #1E2021;
                }
                button {
                    background: #1E2021;
                    color: #939fad;
                }

            }
            #myPost, #myPostCheck {
                .confirmWindow {
                    background: none;
                    p {
                        color: white!important;
                    }
                }
                border-bottom: 1px solid #5498DE;
                &:hover {
                    border-color: #FF5C35;
                }
            }
            section {
                background: #27292B;
                svg {
                    fill: #F2B35B!important;
                }
                article {
                    > div {
                        > div {
                            border: 1px solid #000000cc;
                            box-shadow: none;
                            #tag {
                                background: #1E2021!important;
                            }   
                        }
                    }
                    
                }
                > div {
                    background: #F2B35B;
                    border: none;
                    h2 {
                    color: #1E2021;
                    }
                    button {
                        background: #1E2021;
                        color: #939fad;
                    }
                }
            }
            .container-slider-home {
                background: #1E2021;
                .slider {
                    div {
                        div {
                            div {
                                > div {
                                    background: #27292B;
                                    box-shadow: none;
                                    &:hover {
                                        border-color: #5498DE;
                                    }
                                    img {
                                        border-bottom: 0;
                                    }
                                    div {
                                        
                                        &:first-child {
                                            background: none!important;
                                            > p {
                                                background: #1E2021;
                                            }
                                        }
                                        
                                        &:last-child {
                                            p {
                                                background: none!important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .container-popular-main {
                background: #27292B;
                .popular-articles {
                    background: #1E2021;
                    .related-article-container {
                        div {
                            &:hover {
                                div {
                                    &:last-child {
                                        border-color: #FF5C35;
                                        
                                    }
                                }
                            }
                            div {
                                &:last-child {
                                    border-color: #5498DE;
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}