@import '../fonts';
body {
    background: #181E25;
}
.articles {
    margin-top: 60px;
    padding: 0 5%;

    article {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 30px;
        gap: 50px 2%;
    }
}
