@import '../../fonts';

.container-for-aside-menu.active {
    border-bottom: 1px solid #F4AD24;
}
.container-for-aside-menu {
    display: block;
    z-index: 20;
    height: 67px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #2A3241;
    transition: .3s;
    .under-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        height: 100%;
        padding: 0 45px;
        .logo-menu {
            width: 40px;
            height: 45px;
            background: url(../../../public/images/logo.svg) no-repeat center / contain;
            cursor: pointer;
        }
        .container-menu {
            .menu {
                display: flex;
                gap: 40px;
                align-items: center;
                li {
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    position: relative;
                    width: max-content;
                    height: max-content;
                    cursor: pointer;
                    .my-account {
                        display: block;
                        width: 45px;
                        height: 45px;
                        margin-right: 0;
                    }
                    svg {
                        margin-right: 9px;
                        width: 25px;
                        height: 20px;
                        fill: #7E8890;
                        transition: all .25s cubic-bezier(.42, .01, .58, 1);
                    }
                    a {
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 900;
                        color: #7E8890;
                        font-size: 0.85rem;
                        letter-spacing: 0.05rem;
                        text-decoration: none;
                        transition: all .25s cubic-bezier(.42, .01, .58, 1);
                    }
                    &:hover {
                        > svg {
                            fill: #F4AD24;
                        }
                        > a {
                            color: #F4AD24;
                        }
                    }
                }
            }
        }
    }
}

.account-details.active {
    ul {
        transform: translateX(0);
    }
}

.account-details {
    position: relative;
    ul {
        transition: .3s;
        transform: translateX(100%);
        width: 150px;
        height: max-content;
        top: 57px;
        right: -45px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 25;
        background-color: #232A34;
        border-left: 1px solid #2A3241;
        border-bottom: 1px solid #2A3241;
        border-bottom-left-radius: 6px;
        &:hover {
            border-left: 1px solid #F4AD24;
            border-bottom: 1px solid #F4AD24;
        }
        li {
            padding: 15px;
            width: 100%;
            button {
                font-family: Arial, Helvetica, sans-serif;
                padding: 0;
                font-weight: 900;
                font-size: 0.85rem;
                transition: 0.25s;
                background: none;
                border: none;
                color: #7E8890;
                cursor: pointer;
                &:hover {
                    color: #F4AD24;
                }
            }
        }

    }
}

@media(max-width: 1024px) {
    .container-for-aside-menu  {
        display: none;
    }
}