@import '../../fonts';
 
.container-for-aside-menu {
    display: block;
    z-index: 20;
    height: 150px;
    width: 100%;
    background-color: #232A34;
    border-right: 1px solid #2A3241;
    .aside-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        height: 100%;
        padding: 0 60px;
        .logo-menu {
            width: 60px;
            height: 77px;
            background: url(../../../public/images/logo.svg) no-repeat center / cover;
            cursor: pointer;
        }
        .container-menu {
            .menu {
                display: flex;
                gap: 60px;
                align-items: center;
                li {
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    position: relative;
                    width: max-content;
                    height: max-content;
                    border-bottom: 1px solid #2A3241;
                    cursor: pointer;
                    &:last-child {
                        width: 60px;
                        height: 60px;
                    }
                    .my-account {
                        width: 60px;
                        height: 60px;
                        left: 0;
                        top: 0;
                    }
                    svg {
                        margin-right: 10px;
                        width: 30px;
                        height: 25px;
                        fill: #7E8890;
                        transition: all .3s cubic-bezier(.42, .01, .58, 1);
                    }
                    a {
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 800;
                        color: #7E8890;
                        font-size: 16px;
                        letter-spacing: 0;
                        text-decoration: none;
                        transition: all .3s cubic-bezier(.42, .01, .58, 1);
                    }
                    &:hover {
                        svg {
                            fill: #F4AD24;
                        }
                        a {
                            color: #F4AD24;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 1024px) {
    .container-for-aside-menu  {
        display: none;
    }
}