@import './fonts';
.container-for-all {
    display: flex;
    .main-footer-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 220px;
        padding: 60px 20px;
    }
}
@media(max-width: 1024px) {
    .container-for-all {
        .main-footer-container {
            margin-top: 100px;
            margin-left: 0;
            padding: 60px 20px;
        }
    }
}